{% extends "_base.html" %}

{% block titulo %}Turnos{% endblock titulo %}

  {% comment %} 
    ! #TODO: Esto unicamente muestra los controles para el emprendedor
    ! Se hace después otro html con los turnos para el cliente.
  {% endcomment %}

{% block css %}

  <style type="text/tailwindcss">
    .fc-toolbar-title {
      @apply capitalize;
    }
  </style>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

{% endblock css %}

{% block js %}
  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.19/index.global.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  <script src="https://npmcdn.com/flatpickr/dist/l10n/es.js"></script>
{% endblock js %}

{% block contenido %}
<div class="rounded-2xl border border-slate-200 bg-white p-5 shadow-sm space-y-6">

  {% comment %} Titulo {% endcomment %}
  <div class="">
    <h1 class="text-4xl font-bold inline-block tracking-tight bg-gradient-to-r from-sky-700 to-indigo-600 bg-clip-text text-transparent">
      Gestión de turnos
    </h1>

    <div class="space-y-2 py-6">

      <p class="text-md text-slate-800">Atajos: </p>
      <div class="flex gap-6 items-center">

        <buton
        {% comment %} #TODO: Agregar url para sacar turno y que se esconda el botón si no tiene servicios y jorarios cargados {% endcomment %}
          onclick="mostrarModalTurnos()"
          class="
            inline-flex items-center gap-2 
            rounded-xl bg-white text-sky-800 
            px-4 py-2 
            text-sm font-semibold 
            ring-2 ring-slate-400 
            hover:bg-gray-50 hover:text-sky-900 hover:shadow hover:cursor-pointer"
        >
          <i class="fa-solid fa-plus"></i>
          Agregar turno
        </buton>

        <a
          href="{% url 'turnos:listado_servicios' %}"
          class="
            inline-flex items-center gap-2 
            rounded-xl bg-white text-sky-800 
            px-4 py-2 
            text-sm font-semibold 
            ring-2 ring-slate-400 
            hover:bg-gray-50 hover:text-sky-900 hover:shadow hover:cursor-pointer"
        >
          <i class="fa-solid fa-scissors"></i>
          Servicios
        </a>

        <a
          href="{% url 'turnos:horarios' %}"
          class="
            inline-flex items-center gap-2 
            rounded-xl bg-white text-sky-800 
            px-4 py-2 
            text-sm font-semibold 
            ring-2 ring-slate-400 
            hover:bg-gray-50 hover:text-sky-900 hover:shadow hover:cursor-pointer"
        >
          <i class="fa-solid fa-clock"></i>
          Horarios
        </a>
      </div>
    </div>
  </div>

  <div class="flex gap-4 items-stretch h-[75vh]">
    <div class="flex-2 border border-slate-300 p-4 rounded-xl">
      <div id="calendar" class="h-[70vh]"></div>
    </div>
    <div id="agenda-hoy" class="flex-1 border border-slate-300 p-4 rounded-xl"></div>
  </div>
  
</div>

<div
  id="modal-turnos"
  class="fixed hidden inset-0 z-[90] grid place-items-center bg-slate-900/60 backdrop-blur-sm px-3"
>
  <div class="w-full max-w-5xl overflow-hidden rounded-3xl bg-white shadow-2xl">

    {% comment %} Header {% endcomment %}
    <div class="relative bg-sky-700 px-5 py-5 text-white">
      <div class="flex items-center justify-between gap-3">

        {% comment %} Titulo {% endcomment %}
        <div class="flex items-center gap-3">
          <i class="fa-regular fa-calendar-days text-3xl"></i>

          <div>
            <h2 id="modal-titulo" class="text-xl md:text-2xl font-extrabold tracking-tight">
              Nuevo turno
            </h2>
            <p class="text-white/90 text-sm">Día → Servicio → Horario. Validamos choques y bloques.</p>
          </div>
        </div>

        {% comment %} Boton de cerrar {% endcomment %}
          <button
            type="button"
            class="text-white hover:text-gray-50 cursor-pointer text-2xl"
            onclick="cerrarModalTurnos()"
          >
            ✕
          </button>

      </div>
    </div>

    <form class="p-5" onsubmit="handleSubmit(event)">
      <div class="grid grid-cols-4 gap-3 auto-rows-fr">

        {% comment %} Día {% endcomment %}
        <section class="rounded-2xl border border-slate-200 bg-white p-3 shadow-sm flex flex-col">
          <h3 class="text-sm font-semibold text-slate-900 mb-2">1) Día</h3>
          
          <p class="mt-2 text-xs text-slate-500 mb-4">
            Sólo verás los días en los que trabajás.
          </p>

          <input
            id="input-fecha"
            class="rounded-xl border border-slate-200 bg-white px-3 py-2.5 outline-none focus:ring-2 focus:ring-sky-300"
            placeholder="Selecciona un día"
          />
        </section>
        
        {% comment %} Servicio {% endcomment %}
        <section class="rounded-2xl border border-slate-200 bg-white p-3 shadow-sm flex flex-col">
          <h3 class="text-sm font-semibold text-slate-900 mb-2">2) Servicio</h3>
          
          <p class="mt-2 text-xs text-slate-500 mb-4">
            Elegí un servicio
          </p>

          <div id="listado-servicios" class="max-h-64 overflow-y-auto space-y-2">
          </div>
        </section>

        {% comment %} Horarios disponibles {% endcomment %}
        <section class="rounded-2xl border border-slate-200 bg-white p-3 shadow-sm flex flex-col">
          <h3 class="text-sm font-semibold text-slate-900 mb-2">3) Horario</h3>

          <p class="mt-2 text-xs text-slate-500 mb-4">
            Seleccioná un horario para el turno.
          </p>

          <div id="listado-horarios" class="max-h-64 overflow-y-auto space-y-2">
          </div>
        </section>

        {% comment %} Sección final {% endcomment %}
        <section class="rounded-2xl border border-slate-200 bg-white p-3 shadow-sm flex flex-col">
          <h3 class="text-sm font-semibold text-slate-900 mb-2">4) Confirmar</h3>

          <div class="grow min-h-0 space-y-2">

            {% comment %} texto que cambia si faltan datos {% endcomment %}
            <p id="texto-confirmacion" class="text-sm text-slate-600">
              Completá los pasos para confirmar.
            </p>

            {% comment %} Nombre del cliente {% endcomment %}
            <div>
              <label class="block text-xs font-semibold text-sky-700 mb-1">Cliente (opcional)</label>
              <input
                id="input-cliente"
                class="w-full rounded-xl border border-slate-200 bg-white px-3 py-2.5 outline-none focus:ring-2 focus:ring-sky-300"
                placeholder="Ingresa un nombre"
                required
              />
            </div>

            {% comment %} Nota opcional {% endcomment %}
            <div>
              <label class="block text-xs font-semibold text-sky-700 mb-1">Nota (opcional)</label>
              <input
                id="input-nota"
                class="w-full rounded-xl border border-slate-200 bg-white px-3 py-2.5 outline-none focus:ring-2 focus:ring-sky-300"
                placeholder="Referencia breve"
                maxlength="220"
              />
            </div>

          </div>

          {% comment %} Botones {% endcomment %}
          <div class="pt-2 flex items-center justify-end gap-2">

            <button
              id="btn-cancelar"
              class="rounded-xl border border-slate-300 bg-white px-4 py-2.5 text-sm font-semibold hover:bg-slate-50 disabled:opacity-60 cursor-pointer"
              onclick="cerrarModalTurnos()"
            >
              Cancelar
            </button>

            <button
              id="btn-confirmar"
              class="rounded-xl bg-sky-600 px-4 py-2.5 text-sm font-semibold text-white shadow hover:bg-sky-700 disabled:opacity-60 disabled:cursor-not-allowed cursor-pointer"
              onclick="handleSubmit()"
              disabled
            >
              Crear
            </button>

          </div>
        </section>

      </div>
    </form>

  </div>
</div>
{% endblock contenido %}

{% block js_final %}
{% comment %} JS para la carga de informacion {% endcomment %}
<script>

  var calendar;

  // {% comment %} # TODO: implementar las vistas de hoy, semana y todo eso  https://fullcalendar.io/docs/buttonText{% endcomment %}
  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
    calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: 'dayGridMonth',
      locale: "es-AR",
    });
    calendar.render();
  });

  const obtenerTurnosEmprendedor = async () => {
      try {
          const respuesta = await fetch("{% url 'turnos:api_turnos_emprendedor' %}", {
              method: "GET",
              headers: {
                  "Content-Type": "application/json"
              },
              // {% comment %} django necesita que le incluyas las cookies porque si no no sabe quien sos {% endcomment %}
              credentials: "include"
          });

          if (!respuesta.ok) {
              throw new Error(`Error del servidor: ${respuesta.status}`);
          }

          const data = await respuesta.json();
          return data.turnos;

      } catch (error) {
          console.error("Error al obtener los turnos:", error);
          return [];
      }
  }

  const obtenerClaseTexto = (colorHex) => {

    // Calcular la formula yiq y cambiar el color: https://stackoverflow.com/a/11868398
      colorHex = colorHex.replace('#', '');

      const r = parseInt(colorHex.substring(0, 2), 16);
      const g = parseInt(colorHex.substring(2, 4), 16);
      const b = parseInt(colorHex.substring(4, 6), 16);

      const yiq = (0.299 * r + 0.587 * g + 0.114 * b);
      return yiq > 128 ? "#000000" : "#FFFFFF";
  }

  const cargarTurnosAlCalendario = async () => {
    const turnos = await obtenerTurnosEmprendedor();

    turnos.forEach((t) => {
      calendar.addEvent({
        id: t.id,
        allDay: false,
        title: t.servicio.nombre,
        start: t.turno.inicio,
        end: t.turno.fin,
        color: t.servicio.color,
        textColor: obtenerClaseTexto(t.servicio.color),
        display: "block",
        classNames: `cursor-pointer`
      })
    });

    console.log("Cargados turnos");
    calendar.render();
  };

  const formatearHora = (fechaString) => {
    // Usada en la agenda de hoy para mostrar la hora en 24 horas
      const fecha = new Date(fechaString);
      return fecha.toLocaleTimeString("es-AR", {
          hour: "2-digit",
          minute: "2-digit",
          hour12: false,
      });
  }

  const formatearFechaLarga = () => {
    // Obtener la fecha de hoy formateada en texto para la agenda de hoy
      return new Date().toLocaleDateString("es-AR", {
          weekday: "long",
          day: "numeric",
          month: "long"
      });
  }

  const esHoy = (fechaInicioTurno) => {
    // Ver si un turno es de hoy o no
      const d = new Date(fechaInicioTurno);
      const hoy = new Date();
      return (
          d.getFullYear() === hoy.getFullYear() &&
          d.getMonth() === hoy.getMonth() &&
          d.getDate() === hoy.getDate()
      );
  }

  const renderAgendaHoy = async () => {
    /* {% comment %} renderizar la agenda de hoy, esto puede fallar si se ejecuta antes de que 
    se carguen los turnos, así que hay que llamarla a la función por más de que sea
    ineficiente {% endcomment %}
    */

      const cont = document.getElementById("agenda-hoy");
      const turnos = await obtenerTurnosEmprendedor();

      // {% comment %} Filtrar los turnos de hoy  {% endcomment %}
      const turnosHoy = turnos
        .filter(t => esHoy(t.turno.inicio))
        .sort((a, b) => new Date(a.turno.inicio) - new Date(b.turno.inicio));
        /*
        {% comment %} Esto parece raro pero resulta que así se ordena en js, parecido al sort([], key=) de python{% endcomment %}
        */

      // {% comment %} Poner el encabezado {% endcomment %}
      cont.innerHTML = `
        <div class="flex flex-col h-full">
          <div class="mb-2 font-semibold text-slate-700 shrink-0">
            Agenda de hoy · ${formatearFechaLarga()}
          </div>

          <div id="lista-hoy" class="overflow-auto p-1 grow"></div>
        </div>
      `;

      const lista = document.getElementById("lista-hoy");

      if (turnosHoy.length === 0) {
          lista.innerHTML = `
            <div class="text-sm text-slate-500">No hay turnos para hoy.</div>
          `;
          return;
      }

      const ul = document.createElement("ul");
      ul.className = "divide-y divide-slate-100 overflow-y-auto";

      turnosHoy.forEach(t => {
          const li = document.createElement("li");
          li.className = "py-2 flex items-start gap-3";

          li.innerHTML = `
            <div class="
              h-8 w-12 
              rounded-md 
              ring-1 ring-slate-200 
              grid place-items-center
              bg-[${t.servicio.color}]
              text-xs">
              <p class="font-bold text-[${obtenerClaseTexto(t.servicio.color)}]">${formatearHora(t.turno.inicio)}</p>
            </div>

            <div class="min-w-0 flex-1">
              <div class="text-sm font-medium text-slate-900 truncate">
                ${t.cliente.nombre} · ${t.servicio.nombre}
              </div>

              <div class="text-[11px] text-slate-500">
                ${t.turno.nota ? `Notas: ${t.turno.nota}` : ""}
              </div>
            </div>

            <button
              title="Seleccionar para editar/cancelar"
              onclick="mostrarModalTurnos(${t.id})"
              class="shrink-0 rounded-md border border-slate-200 bg-white px-2 py-1 text-xs font-medium hover:bg-slate-50"
              data-id="${t.id}"
            >
              Seleccionar
            </button>
          `;

          ul.appendChild(li);
      });

      lista.appendChild(ul);
  }



  document.addEventListener("DOMContentLoaded", () => {
    cargarTurnosAlCalendario();
    renderAgendaHoy();
  });

  

</script>

{% comment %} JS para el modal de los turnos {% endcomment %}
<script>

  let diasQueTrabaja = [];
  let serviciosEmprendedor = [];
  {% comment %} Los dias que el emprendedor trabaja, para despues limitar las fechas que puede
  pickear en el datepicker {% endcomment %}
  const obtenerDiasQueTrabaja = async () => {
    try {
      const response = await fetch('{%url "turnos:api_diastrabajados_emprendedor"%}', {
        method: 'GET',
        credentials: 'include',
        headers: {
          'Content-Type': 'application/json',
        },
      });

      if (!response.ok) {
        throw new Error(`Error en la respuesta: ${response.status}`);
      }

      const data = await response.json();

      return data.dias_trabajados;

    } catch (error) {
      console.error('Error al obtener días trabajados:', error);
      return [];
    }
  }

  const obtenerServiciosEmprendedor = async () => {
    try {
      const response = await fetch('{% url "turnos:api_servicios"%}', {
        method: 'GET',
        credentials: 'include',  // para enviar cookies y autenticación si corresponde
        headers: {
          'Content-Type': 'application/json',
        },
      });

      if (!response.ok) {
        throw new Error(`Error en la respuesta: ${response.status}`);
      }

      const data = await response.json();

      // Retorna el array de servicios
      return data.servicios || [];

    } catch (error) {
      console.error('Error al obtener servicios:', error);
      return [];
    }
  }

  // TODO: Hacer que se limpien los campos del formulario
  const cerrarModalTurnos = () => {
    document.getElementById("modal-turnos").classList.add("hidden");
    // {% comment %} Esto se tiene que hacer para que no se mueva la pagina de atras cuando se hace scroll en el modal {% endcomment %}
    document.body.style.overflow = "";
  }

  const iniciarDatePicker = () => {
    flatpickr("#input-fecha", {
      altInput: true,
      altFormat: "j \\d\\e F, Y",
      dateFormat: "Y-m-d",
      locale: "es",
      enable: [
        function(fecha) {
          // {% comment %} El back cuenta el lunes como día cero, pero el picker cuenta el domingo como dia cero {% endcomment %}
          // {% comment %} entonces hay que restarle uno y hacerle modulo para que no quede desfasado {% endcomment %}
          return diasQueTrabaja.includes((fecha.getDay() - 1) % 6);
        }
      ],
      onChange: function() {limpiarHorarios(); iniciarServicios();},
    });
  }

  const iniciarServicios = () => {
     const contenedor = document.getElementById("listado-servicios");

    // {% comment %} Hay que remover todos los elementos cada vez porue si no se duplican {% endcomment %}

    while (contenedor.firstChild) {contenedor.removeChild(contenedor.lastChild);}

    serviciosEmprendedor.forEach(s => {
      const precioTexto = s.precio
                ? `· $${Number(s.precio).toLocaleString("es-AR")}`
                : "· Gratuito";

      const wrapper = document.createElement("label");
      wrapper.className = "flex items-center gap-4 p-2 rounded cursor-pointer hover:bg-slate-50";

      wrapper.innerHTML = `
        <input type="radio" name="servicio" value="${s.id}" class="hidden peer" onclick="handleObtenerHorarios(${s.id})">
        <div class="w-full h-full flex items-center gap-2 px-2 py-1 -m-2 rounded peer-checked:border peer-checked:border-sky-700">
          <div class="relative w-3 h-3 rounded-full shadow" style="background:${s.color}">
            <div class="absolute inset-0 rounded-full border" 
                style="border-color:${s.color}; filter:brightness(0.8);"></div>
          </div>
          <div>
            <p class="font-medium text-slate-900">${s.nombre}</p>
            <p class="text-xs text-slate-500">${s.duracion} minutos ${precioTexto}</p>
          </div>
        </div>
      `;

      contenedor.appendChild(wrapper);
    });
  }

  const limpiarHorarios = () => {
    const contenedor = document.getElementById("listado-horarios");
    while (contenedor.firstChild) {contenedor.removeChild(contenedor.lastChild);}
  }

  const iniciarHorarios = (horarios) => {
    const contenedor = document.getElementById("listado-horarios");

    limpiarHorarios();

    horarios.forEach(h => {

      const wrapper = document.createElement("label");
      wrapper.className = "flex items-center gap-4 p-2 rounded cursor-pointer hover:bg-slate-50";

      wrapper.innerHTML = `
        <input type="radio" name="horario" value="${h}" class="hidden peer">
        <p class="w-full h-full flex items-center gap-2 px-2 py-1 -m-2 rounded peer-checked:border peer-checked:border-sky-700">${h}</p>
      `;

      contenedor.appendChild(wrapper);
    });
  }

  {% comment %} la logica depende de si se está editanto o no. 
    eso va a cambiar hacia dónde se hace el post, y si se hace o no un get para obtener los datos
    del turno
  {% endcomment %}
  const mostrarModalTurnos = async (idTurno = null) => {
    // {% comment %} Esto se tiene que hacer para que no se mueva la pagina de atras cuando se hace scroll en el modal {% endcomment %}
    document.body.style.overflow = "hidden";
    const tituloModal = document.getElementById("modal-titulo");

    if (idTurno) {
      /* {% comment %} Se está editando un turno, hay que hacer el get de los datos {% endcomment %}
          {% comment %} Habría que: {% endcomment %}
          {% comment %} 1. Cambiar el título {% endcomment %}
          {% comment %} 2. Hacer el get de los datos del turno {% endcomment %}
          {% comment %} 3. Poblar el formulario con los datos del turno {% endcomment %}
          {% comment %} 4. Mostrar el botón de eliminar con un formulario {% endcomment %}
      */


    } else {
      /* {% comment %} Se está creando un turno {% endcomment %}
          {% comment %} Habría que: {% endcomment %}
          {% comment %} 1. Cambiar el título {% endcomment %}
          {% comment %} 2. Hacer el get de los dias que se trabaja y limitar el calendario {% endcomment %}
          {% comment %} 3. En el evento select del calendario, hacer el get de los horarios de ese día filtrados por ??????? {% endcomment %}
          {% comment %} 4.  ?????? {% endcomment %}
          {% comment %} 5. Aprobar la materia {% endcomment %}
      */

    iniciarDatePicker();


    }
    document.getElementById("modal-turnos").classList.remove("hidden");
  }

  const handleSubmit = (e) => {
    e.preventDefault();
    alert("Se submiteó el form");
  }
  
  const cargarHorariosDisponibles = async (idServicio, fechaSolicitada) => {
      const url = `/turnos/api/horarios/${idServicio}/${fechaSolicitada}/`;

      try {
          const resp = await fetch(url, {
              method: "GET",
              headers: { "X-Requested-With": "XMLHttpRequest" },
              cookies: "include"
          });

          if (!resp.ok) {
              const errorData = await resp.json().catch(() => ({}));
              throw new Error(errorData.error || "Error desconocido del servidor");
          }

          const data = await resp.json();

          if (!data.horarios_disponibles) {
              throw new Error("Respuesta inesperada del servidor");
          }

          return data.horarios_disponibles; // array de strings tipo ["09:00", "09:30", ...]
      } catch (err) {
          console.error("Error cargando horarios:", err.message);
          return [];
      }
  }

  const handleObtenerHorarios = async (idServicio) => {
    const fecha = document.getElementById("input-fecha").value;

    if (fecha != null) {
      const horarios = await cargarHorariosDisponibles(idServicio, fecha);
      iniciarHorarios(horarios);
    }
  }

  document.addEventListener("DOMContentLoaded", async () => {
    diasQueTrabaja = await obtenerDiasQueTrabaja();
    serviciosEmprendedor = await obtenerServiciosEmprendedor();
  });

</script>

{% endblock js_final %}