{% extends "_base.html" %}
{% load static %}

{% block titulo %}Turnos{% endblock titulo %}

  {% comment %} 
    ! #TODO: Esto unicamente muestra los controles para el emprendedor
    ! Se hace después otro html con los turnos para el cliente.
  {% endcomment %}

{% block css %}

  <style type="text/tailwindcss">
    .fc-toolbar-title {
      @apply capitalize;
    }
  </style>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

{% endblock css %}

{% block js %}
  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.19/index.global.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@6.1.5/locales-all.global.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  <script src="https://npmcdn.com/flatpickr/dist/l10n/es.js"></script>
{% endblock js %}

{% block contenido %}
<div class="rounded-2xl border border-slate-200 bg-white p-5 shadow-sm space-y-6">

  {% comment %} Titulo {% endcomment %}
  <div class="">
    <h1 class="text-4xl font-bold inline-block tracking-tight bg-gradient-to-r from-sky-700 to-indigo-600 bg-clip-text text-transparent">
      Gestión de turnos
    </h1>

    <div class="space-y-2 py-6">

      <p class="text-md text-slate-800">Atajos: </p>
      <div class="flex gap-6 items-center">

        <buton
        {% comment %} #TODO: Agregar url para sacar turno y que se esconda el botón si no tiene servicios y jorarios cargados {% endcomment %}
          onclick="mostrarModalTurnos()"
          class="
            inline-flex items-center gap-2 
            rounded-xl bg-white text-sky-800 
            px-4 py-2 
            text-sm font-semibold 
            ring-2 ring-slate-400 
            hover:bg-gray-50 hover:text-sky-900 hover:shadow hover:cursor-pointer"
        >
          <i class="fa-solid fa-plus"></i>
          Agregar turno
        </buton>

        <a
          href="{% url 'turnos:listado_servicios' %}"
          class="
            inline-flex items-center gap-2 
            rounded-xl bg-white text-sky-800 
            px-4 py-2 
            text-sm font-semibold 
            ring-2 ring-slate-400 
            hover:bg-gray-50 hover:text-sky-900 hover:shadow hover:cursor-pointer"
        >
          <i class="fa-solid fa-scissors"></i>
          Servicios
        </a>

        <a
          href="{% url 'turnos:horarios' %}"
          class="
            inline-flex items-center gap-2 
            rounded-xl bg-white text-sky-800 
            px-4 py-2 
            text-sm font-semibold 
            ring-2 ring-slate-400 
            hover:bg-gray-50 hover:text-sky-900 hover:shadow hover:cursor-pointer"
        >
          <i class="fa-solid fa-clock"></i>
          Horarios
        </a>
      </div>
    </div>
  </div>

  <div class="flex gap-4 items-stretch h-[95vh]">
    <div class="flex-2 border border-slate-300 p-4 rounded-xl">
      <div id="calendar" class="h-[90vh]"></div>
    </div>
    <div id="agenda-hoy" class="flex-1 border border-slate-300 p-4 rounded-xl"></div>
  </div>
  
</div>

<div
  id="modal-turnos"
  class="fixed hidden inset-0 z-[90] grid place-items-center bg-slate-900/60 backdrop-blur-sm px-3"
>
  <div class="w-full max-w-5xl overflow-hidden rounded-3xl bg-white shadow-2xl">

    {% comment %} Header {% endcomment %}
    <div class="relative bg-sky-700 px-5 py-5 text-white">
      <div class="flex items-center justify-between gap-3">

        {% comment %} Titulo {% endcomment %}
        <div class="flex items-center gap-3">
          <i class="fa-regular fa-calendar-days text-3xl"></i>

          <div>
            <h2 id="modal-titulo" class="text-xl md:text-2xl font-extrabold tracking-tight">
              Nuevo turno
            </h2>
          </div>
        </div>

        {% comment %} Boton de cerrar {% endcomment %}
          <button
            type="button"
            class="text-white hover:text-gray-50 cursor-pointer text-2xl"
            onclick="cerrarModalTurnos()"
          >
            ✕
          </button>

      </div>
    </div>

    <form id="formulario" method="POST" class="p-5">
      {% csrf_token %}
      <div class="grid grid-cols-4 gap-3 auto-rows-fr">

        {% comment %} Día {% endcomment %}
        <section class="rounded-2xl border border-slate-200 bg-white p-3 shadow-sm flex flex-col">
          <h3 class="text-sm font-semibold text-slate-900 mb-2">1) Día</h3>
          
          <p class="mt-2 text-xs text-slate-500 mb-4">
            Sólo verás los días en los que trabajás.
          </p>

          <input
            id="input-fecha"
            class="rounded-xl border border-slate-200 bg-white px-3 py-2.5 outline-none focus:ring-2 focus:ring-sky-300"
            placeholder="Selecciona un día"
            name="fecha"
            required
          />
        </section>
        
        {% comment %} Servicio {% endcomment %}
        <section class="rounded-2xl border border-slate-200 bg-white p-3 shadow-sm flex flex-col">
          <h3 class="text-sm font-semibold text-slate-900 mb-2">2) Servicio</h3>
          
          <p class="mt-2 text-xs text-slate-500 mb-4">
            Elegí un servicio
          </p>

          <div id="listado-servicios" class="max-h-64 overflow-y-auto space-y-2">
          </div>
        </section>

        {% comment %} Horarios disponibles {% endcomment %}
        <section class="rounded-2xl border border-slate-200 bg-white p-3 shadow-sm flex flex-col">
          <h3 class="text-sm font-semibold text-slate-900 mb-2">3) Horario</h3>

          <p class="mt-2 text-xs text-slate-500 mb-4">
            Seleccioná un horario para el turno.
          </p>

          <div id="listado-horarios" class="max-h-64 overflow-y-auto space-y-2">
          </div>
        </section>

        {% comment %} Sección final {% endcomment %}
        <section class="rounded-2xl border border-slate-200 bg-white p-3 shadow-sm flex flex-col">
          <h3 class="text-sm font-semibold text-slate-900 mb-2">4) Confirmar</h3>

          <div class="grow min-h-0 space-y-2">

            {% comment %} texto que cambia si faltan datos {% endcomment %}
            <p id="texto-confirmacion" class="text-sm text-slate-600">
              Completá los pasos para confirmar.
            </p>

            {% comment %} Nombre del cliente {% endcomment %}
            <div>
              <label class="block text-xs font-semibold text-sky-700 mb-1">Cliente</label>
              <input
                id="input-cliente"
                class="w-full rounded-xl border border-slate-200 bg-white px-3 py-2.5 outline-none focus:ring-2 focus:ring-sky-300"
                placeholder="Ingresa un nombre"
                name="cliente_nombre"
                required
              />
            </div>

            <div>
              <label class="block text-xs font-semibold text-sky-700 mb-1">Teléfono/email del cliente</label>
              <input
                id="input-cliente-contacto"
                class="w-full rounded-xl border border-slate-200 bg-white px-3 py-2.5 outline-none focus:ring-2 focus:ring-sky-300"
                placeholder="Ingrese un teléfono/email"
                name="cliente_contacto"
                required
              />
            </div>

            {% comment %} Nota opcional {% endcomment %}
            <div>
              <label class="block text-xs font-semibold text-sky-700 mb-1">Nota (opcional)</label>
              <input
                id="input-nota"
                class="w-full rounded-xl border border-slate-200 bg-white px-3 py-2.5 outline-none focus:ring-2 focus:ring-sky-300"
                placeholder="Referencia breve"
                maxlength="220"
                name="nota"
              />
            </div>

            {% comment %} Esto tiene que estar para soportar que el cliente saque turno. de esta forma se puede
            saber si se puede cambiar o no el nombre en el formulario {% endcomment %}
            <input type="hidden" id="input-id-cliente">

          </div>

          {% comment %} Botones {% endcomment %}
          <div class="pt-2 flex items-center justify-end gap-2">

            <button
              id="btn-cancelar"
              class="rounded-xl border border-slate-300 bg-white px-4 py-2.5 text-sm font-semibold hover:bg-slate-50 disabled:opacity-60 cursor-pointer"
              onclick="cerrarModalTurnos()"
              type="button"
            >
              Cancelar
            </button>

            <button
              id="btn-confirmar"
              type="submit"
              class="rounded-xl bg-sky-600 px-4 py-2.5 text-sm font-semibold text-white shadow hover:bg-sky-700 disabled:opacity-60 disabled:cursor-not-allowed cursor-pointer"
            >
              Crear
            </button>

          </div>
        </section>

      </div>
    </form>

  </div>
</div>
{% endblock contenido %}

{% block js_final %}
<script type="text/javascript">
  {% comment %} Hay que cargar las urls desde acá, porque en js no se puede usar url {% endcomment %}
  const urlObtenerTurnosEmprendedor = "{% url 'turnos:api_turnos_emprendedor' %}";
  const urlObtenerDiasQueTrabaja = "{% url 'turnos:api_diastrabajados_emprendedor' %}";
  const urlObtenerServiciosEmprendedor = "{% url 'turnos:api_servicios' %}";
  const urlCargarHorariosDisponibles = "{% url 'turnos:api_horarios_por_servicio' id_servicio=0 fecha_solicitada='placeholder' %}";
  const urlCargarHorariosDisponiblesConTurno = "{% url 'turnos:api_horarios_por_servicio_con_turno' id_servicio=0 fecha_solicitada='placeholder' id_turno=9999 %}";
  const urlActionCrear = "{% url 'turnos:turnos_emprendedor_crear' %}";
  const urlActionEditar = "{% url 'turnos:turnos_editar' pk=0 %}";

</script>
<script type="text/javascript" src="{% static 'js/turnos_emprendedor_calendario.js' %}"></script>
<script type="text/javascript" src="{% static 'js/turnos_emprendedor_modal.js' %}"></script>
{% endblock js_final %}